<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="box-chat-message">
    <div class="header-btn-box-message d-none" >
        <div class="box-message-hed">
            <p>Đoạn Chát</p>
            <div class="box-message-hed-option">
                <button class="btn btn-light" title="Xem tat ca doan chat">
                    <i class="fa-solid fa-maximize"></i>
                </button>
                <button class="btn btn-light" title="Tao tin nhan moi">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>

            </div>

        </div>
        <div class="box-message-search">
            <input type="search" placeholder="Tim kiem" />
        </div>

        <div class="box-message-btn">
            <button class="btn btn-primary" id="hop-thu" >Hộp thư</button>
            <button class="btn btn-light" id="user-flows">Người lien he </button>
        </div>
        <!-- Box chat message -->
        <div class="box-message-chat">
<!--            <div class="box-message-chat-item">-->
<!--                <div class="avatar">-->
<!--                    <img th:src="@{/images/avatar/avatar1.jpg}">-->
<!--                    <i class="fa-solid fa-circle"></i>-->
<!--                </div>-->
<!--                <div class="chatbox">-->
<!--                    <span class="chatbox-name">Vo Nguyen</span>-->
<!--                    <div class="chatbox-body">-->
<!--                                                <span class="chatbox-main chatbox-main-no-read">bán nick koo mày-->
<!--                                                    hieeeeeeeeeeee, </span>-->
<!--                        <span class="chatbox-time">1h</span>-->
<!--                        <i class="fa-solid fa-circle"></i>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->

<!--            <div class="box-message-chat-item">-->
<!--                <div class="avatar">-->
<!--                    <img th:src="@{/images/avatar/avatar1.jpg}">-->
<!--                    <i class="fa-solid fa-circle"></i>-->
<!--                </div>-->
<!--                <div class="chatbox">-->
<!--                    <span class="chatbox-name">Vo Nguyen</span>-->
<!--                    <div class="chatbox-body">-->
<!--                        <span class="chatbox-main ">ban nick ko may thang</span>-->
<!--                        <span class="chatbox-time">1h</span>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="box-message-chat-item">-->
<!--                <div class="avatar">-->
<!--                    <img th:src="@{/images/avatar/avatar1.jpg}">-->
<!--                    <i class="fa-solid fa-circle"></i>-->
<!--                </div>-->
<!--                <div class="chatbox">-->
<!--                    <span class="chatbox-name">Vo Nguyen</span>-->
<!--                    <div class="chatbox-body">-->
<!--                                            <span class="chatbox-main chatbox-main-no-read">bán nick koo mày-->
<!--                                                hieeeeeeeeeeee, </span>-->
<!--                        <span class="chatbox-time">1h</span>-->
<!--                        <i class="fa-solid fa-circle"></i>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->







        </div>




    </div>
</div>
</body>
</html>