<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="~{layouts/main-layout::main-fragment(
 ~{::title},~{::#home-nav},~{::#home-main-content} ,~{::#home-footer} , ~{::#home-static-resources} )  }">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block id="home-static-resources">
        <link rel="stylesheet" th:href="@{/css/style/style.css}" />
        <script th:src="@{/js/index.js}"> </script>
    </th:block>
</head>
<body>
<div class="container-fluid">
    <!--        Hearder -->
    <header id="home-nav" th:replace="~{fragments/header-fragments::header-default}">

    </header>

    <!--        Content-->
    <div id="home-main-content" class="content" >
        <!--            message detail -->
        <div class="contai-box-message-detail">
            <div class="box-message-detail d-none">
                <div class="box-message-header">
                    <div class="message-header-avatar">
                        <img th:src="@{/images/avatar/avatar1.jpg}">
                        <span>Nguyen Vo</span>
                        <i class="fa-solid fa-caret-down" style="margin-left: -1px"></i>
                    </div>
                    <div class="message-header-action">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div class="box-message-content-chat">
                    <div class="chat-me">
                            <span>Hello
                                baneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeebaneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeebaneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</span>
                    </div>
                    <div class="chat-other">
                        <img th:src="@{/images/avatar/avatar1.jpg}" class="d-none">
                        <div>
                                <span>Co viec jeeeeeeee ko
                                    vovannguyenxxnguyennnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
                                    e</span>
                        </div>
                    </div>

                    <div class="chat-other">
                        <img th:src="@{/images/avatar/avatar1.jpg}" class="">
                        <div>
                                <span>Co viec jeeeeeeee ko
                                    vovannguyenxxnguyennnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
                                    e</span>
                        </div>
                    </div>
                    <div class="chat-other">
                        <img th:src="@{/images/avatar/avatar1.jpg}" class="">
                        <div>
                                <span>Co viec jeeeeeeee ko
                                    vovannguyenxxnguyennnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
                                    e</span>
                        </div>
                    </div>

                </div>

                <div class="box-message-input-chat">
                    <div class="nav-chat">
                        <button class="btn-attach">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <div class="input-chat">
                                <textarea id="" value="" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="6"
                                          rows="1"> </textarea>
                        </div>
                        <button class="btn-send">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-message-detail d-none">
                <div class="box-message-header">
                    <div class="message-header-avatar">
                        <img th:src="@{/images/avatar/avatar1.jpg}">
                        <span>Nguyen Vo 2</span>
                        <i class="fa-solid fa-caret-down" style="margin-left: -1px"></i>
                    </div>
                    <div class="message-header-action">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div class="box-message-content-chat">
                    <div class="chat-me">
                            <span>Hello
                                baneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeebaneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeebaneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</span>
                    </div>
                    <div class="chat-other">
                        <img th:src="@{/images/avatar/avatar1.jpg}" class="d-none">
                        <div>
                                <span>Co viec jeeeeeeee ko
                                    vovannguyenxxnguyennnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
                                    e</span>
                        </div>
                    </div>

                    <div class="chat-other">
                        <img th:src="@{/images/avatar/avatar1.jpg}" class="">
                        <div>
                                <span>Co viec jeeeeeeee ko
                                    vovannguyenxxnguyennnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
                                    e</span>
                        </div>
                    </div>
                    <div class="chat-other">
                        <img th:src="@{/images/avatar/avatar1.jpg}" class="">
                        <div>
                                <span>Co viec jeeeeeeee ko
                                    vovannguyenxxnguyennnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
                                    e</span>
                        </div>
                    </div>

                </div>

                <div class="box-message-input-chat">
                    <div class="nav-chat">
                        <button class="btn-attach">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <div class="input-chat">
                                <textarea id="textarea" value="" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="6"
                                          rows="1"> </textarea>
                        </div>
                        <button class="btn-send">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--            ==============================-->
        <!--            QuangCao-->
        <div class="content-ad">
            <div class="pre">
                <i class="fa-solid fa-less-than"></i>
            </div>
            <div>
                <img  th:src="@{/images/ads/anhChoTo2.png}">
            </div>
            <div class="dot">
                <ul>
                    <li><i class="fa-solid fa-circle"></i></li>
                    <li><i class="fa-solid fa-circle"></i></li>
                    <li><i class="fa-solid fa-circle"></i></li>
                    <li><i class="fa-solid fa-circle"></i></li>
                    <li><i class="fa-solid fa-circle"></i></li>
                </ul>

            </div>
            <div class="next">
                <i class="fa-solid fa-greater-than"></i>
            </div>

        </div>
    </div>

    <!--        Footer-->
    <footer id="home-footer" th:replace="~{fragments/footer-fragments::footer-default}">
    </footer>
</div>
</body>

</html>